<h1>Chirps</h1>


<% @posts.each do |post| %>
 <%= link_to user_path(post.user.username)%>
      <h4><%= link_to post.text, post_path(id: post.id) %></h4>
      <h4><%= link_to post.user.username, user_path(post.user.username) %> <%= distance_of_time_in_words post.created_at, Time.now %> ago</h4>
 <% end %>
